# <center> Assignment-1 (ML4A)

### Total Points: 25

---

**Rules to follow:-**
1. You must solve this assignment on Google Colab only.
2. You must write your email id in the given space.
3. You must not delete any tags in the code or the text cell (#name, #a1, #q1, e.t.c..).
4. Each question should be answered in the respective code cell only.
5. Per question, there must be only one code cell for the solution.
6. Each code cell are separate, so re-import libraries and variables even if defined in the earlier code cells.
7. Don't change the code if it is mentioned not to change it.
---


**NOTE:-**
* Please reach out to us in case of any questions.
* Don't feel you are alone in solving this assignment.
* You can always use #doubts-and-discussion channel to ask your questions regarding any problem.
* Just make sure to DM your instructor in case of a doubt in your solution code.
---

## üåü ALL THE BEST üçÄ

In [ ]:
#name

# Write your email id below within quotation marks
# An example is provided, for understanding. You need to remove it and write your email id instead.
# Make sure this email id matches the email id through which you have registered for this training program
"rohan.calculus@gmail.com"

---

#q1

**Q1) [1 Point]**

Which of the following statements is used to terminate the statement ?

**A)** Next     
**B)** Switch    
**C)** Break   
**D)** With

In [ ]:
#a1

# Choose the correct option (simply write the letter of your choice within the quotation mark give below)
"C)"

#q2

**Q2) [1 Point]**

Which of the following variable is of `float` type?

**A)** `a = '3.0'`       
**B)** `b = 3`       
**C)** `c = 3/2`         
**D)** `d = print(3/2)`     

**Note:-**
* There can be MORE THAN ONE correct option!

In [ ]:
#a2

# Choose the correct option(s) (simply write the letter(s) of your choice within the quotation mark give below)
"3.0!"

#q3

**Q3) [1 Point]**

Consider the if-elseif-else statement, how many elseif are possible between if and else statements?

**A)** 1       
**B)** 0             
**C)** Multiple            
**D)** None of the above

In [ ]:
#a3

# Choose the correct option (simply write the letter of your choice within the quotation mark give below)
"C)"

#q4

**Q4) [4 Points]**

Write a function that takes any number N as input and returns the square of that number.

In [8]:
#a4

# Complete this given code

def square(num):
  squared = num ** 2
  # Complete the function (remove the pass and add return)
  return squared

# Take the user input correctly to square the number
N = int(input('Enter number: '))

# Print using f-string a message that displays for example:- "Square of 2 is:- 4"
print(f'The square number of {N} is {square(N)}')

Enter number: 8
The square number of 8 is 64

#q5

**Q5) [5 Points]**

Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line without `[ ]` or `,` at the end.

In [14]:
#a5

# Write your code solution here (make sure to follow all the conditions in the question)

numbers = []

for i in range(2000,3201):
  if i % 7 == 0:
    if i % 5 !=0:
      numbers.append(i)

print(*numbers,sep = ', ')

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199

#q6

**Q6) [2 Points]**

Write a Python program to accept the user's first and last name and then get them printed in the reverse order with a space between first name and last name. For example:-
```
User Inputs:-
first_name = rohan
last_name = shah

Expected Output:-
Shah Rohan
```

In [17]:
#a6

# Take user inputs with an appropriate input message for each inputs
first_name = 'John'
last_name = 'Travolta'

# Use f string to print the final answer
print(f'{last_name} {first_name}')

Travolta John

#q7

**Q7) [2 Points]**

Given this given nested list, use indexing to grab and print the word "ADS-27112023".

In [21]:
#a7

# Given Nested List with the target element
lst = [1,2,[3,4],[5,[100,200,['ADS-27112023']],23,11],1,7]

# print the word 'ADS-27112023' using list indexing without [ ] over the word
print(lst[3][1][2][0])

ADS-27112023

#q8

**Q8) [8 Points]**

Create a function named as `detect_variable_star`
* That accepts a dictionary of brightness of a star observed over a period of 12 months.
* Returns the name of months and **maximum percentage change** in brightness observed if the star is variable.
* Returns -1 if the star is not variable.

**Note:-**        
* Assume that a star is variable if there is a change in brightness greater than 20% between any two consecutive observations.    
* Use NumPy Methods and Condition statements to solve this question.

In [28]:
#a8

''' Complete the given code below '''

# Numpy Import
import numpy as np

# Function Required for this question
def detect_variable_star(light_curve_data):

  """
  Analyzes the light curve data of a star's brightness over consecutive months to determine if it is a variable star.

  Parameters:
  -----------
  light_curve_data (dict): A dictionary with keys representing months and values indicating the brightness of the star in that month.

  Returns:
  ---------
  start_month (str): The month where the maximum percentage change in brightness begins to occur.
  end_month (str): The month where the maximum percentage change in brightness ends.
  max_percentage_change_value (float): The maximum percentage change in brightness between start_month and end_month.
  -1: If the star is not a variable, indicating consistent brightness.
  """

  # Convert the values of dictionary to list and then to numpy array
  array_data = np.array(list(light_curve_data.values()))
  months = list(light_curve_data.keys())

  # Calculate the change in brightness using numpy methods (Hint:- np.diff())
  percentage_brightness_change = np.diff(array_data)/array_data[:-1]

  # If any of the change in brighntess is more than 20%
  if np.any(percentage_brightness_change > 0.2):

      # Get the index of the max value in the brightness_change
      max_change_index = np.argmax(percentage_brightness_change)

      # Get the Start and End Month based on that index
      start_month = months[max_change_index]
      end_month =months[max_change_index + 1]

      # Get the Maximum value out of the brightness_change
      max_percentage_change_value = percentage_brightness_change[max_change_index]

      return start_month, end_month, max_percentage_change_value

  else:

    # Feel free to change the code the way you want to meet the question requirements
    pass

''' DON'T CHANGE THE CODE BELOW THIS LINE! JUST RUN IT AS IT IS. '''

# Here is the given data
light_curve_data = {'January': 0.8,
                    'February': 0.85,
                    'March': 0.9,
                    'April': 1.1,
                    'May': 1.5,
                    'June': 2.0,
                    'July': 1.8,
                    'August': 1.4,
                    'September': 1.2,
                    'October': 1.0,
                    'Novemeber': 0.9,
                    'December': 1.1}

# Call your function
output = detect_variable_star(light_curve_data)

# Check if output is -1 and print the respetive statements
if output != -1:
  start_month, end_month, max_change_value = output
  print(f'The maximum change in brightness of {max_change_value:.2%} was observed in {start_month}-{end_month}.')
else:
  print('This is not a variable star!')

The maximum change in brightness of 36.36% was observed in April-May.

#q9

**Q9) [1 Point]**

If you ever got a chance to work on some Astronomy Mission, what would it be and why?

In [ ]:
#a9

# Write your answer within the tripple double quotations below
"""
James Webb
"""

# END
---

### Download the file as .ipynb and submit it via Google Form on Slack

# ‚ú® Congratulations, you have completed your first assignment of ADS. üéâ